

.blue-sam {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 0 100 5px;
  padding: 0 0 5px;
  color: #007CDF;
}

.blue-sam2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0 100 5px;
  padding: 0 0 5px;
  color: #31A4FF;
}

.do-dam {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 10 100 0px;
  padding: 10 0 0px;
  color: #DB1616;
  text-decoration: underline;
}



.do {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 10 0px;
  padding: 0 0 0px;
  color: #FF0000;
  text-decoration: underline;
}

.lam-nhat {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 15 100 5px;
  padding: 0 0 0px;
  color: #33446D;
  text-decoration: underline;
}

.xanh-bien-lam {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 15 100 5px;
  padding: 0 0 0px;
  color: #0056FF;
  text-decoration: underline;
}



.hinh-1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 20 125 5px;
  padding: 0 0 0px;
}


.trang {
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 23px;
  margin: 10 180 10px;
  padding: 0 0 0px;
}

.do2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 100 10px;
  padding: 0 0 10px;
  color: #c50c26;
  text-decoration: underline;
  display: block;
}



.khoi-vang{
  background: #fbfbcb;
  border: 1px solid #b5b5b5;
  font-family: "Roboto", sans-serif;
  height: 135px;
  width: 700;
  margin: 0 110 0px;
  padding: 0 0 0 0px;
  word-wrap: break-word;
}

.khoi-vang-medium{
  background: #fbfbcb;
  border: 1px solid #b5b5b5;
  font-family: "Roboto", sans-serif;
  height: 60px;
  width: 600;
  margin: 10 110 10px;
  padding: 0 10 0 10px;
  word-wrap: break-word;
}

.khoi-vang-super{
  background: #fbfbcb;
  border: 1px solid #b5b5b5;
  font-family: "Roboto", sans-serif;
  height: 60px;
  width: 600;
  margin: 10 110 10px;
  padding: 0 10 0 10px;
  word-wrap: break-word;
}


.cach {
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 10 100 10px;
  padding: 0 0 0px;
}


.footer_all {
  height: 1900px;
  width: 1900;
  background-image: url(https://cdn.glitch.global/24a0c2a4-3f4a-470c-b8a5-184c8c834c2c/73ac0622-becb-4024-87ba-dd26260e4123.image.png?v=1642216958125);
  background-color: #f3f4f8;
}

